body{
    width: 100wh;
	height: 90vh;
	color: aliceblue;
    background: linear-gradient(-55deg, pink, deepskyblue, deeppink,sienna);
	background-size: 400% 400%;
	animation: bg 7s ease infinite;
}

@keyframes bg 
{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

h1{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    background: linear-gradient(45deg, #b52d71, #a17fe0, #5d26c1);
    background-size: 400% 400%;
	animation: bg 7s ease infinite;
    border-radius: 5px 5px;
    box-shadow: 3px 3px 5px black;
}

img{
    display: block;
    margin: 200px auto;
    height: 200px;
    animation: logo 15s linear infinite;
}

@keyframes logo
{
    0%{
       transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}





















































