$bg-img: url(../background.jpg);
$bg-color:skyblue;
$main-color:black;
$position-a:absolute;
$position-r:relative;


body {
    background-image: $bg-img;
    font-family: sans-serif;
}

.main{
    position: $position-r;
    float: left;
    margin-top: 10px 20px;
    min-width: 230px;
    min-height: 370px;
    max-width:  495px;
    width: 100%;
    color: $main-color;
    text-align: right;
    line-height: 1.4em;
    background-color: $bg-color;
    font-size: 16px;
}
.main *{
    box-sizing: border-box;
    transition: all 0.35s ease;
}
.main img{
    position: $position-a;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    transform: translate(0%, -50%);
}
.main figcaption{
    position: $position-a;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    padding: 20px 0px 20px 20px;
        
}
.main h2,
.main p{
    margin-bottom: 5px;
    text-transform: uppercase;
}
.main p{ 
    font-size: 0.8em
}
.main a{
    position: $position-a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.main:hover img{
    width: 55%;
    right:  -10%;
}
.main:hover figcaption h2,
.main:hover figcaption p{
    transform: translateX(0px);
    opacity: 1;
}





















































